##
#  @file
#  Configuration file for Python formatter - flake8.
#
#  @copyright
#  Copyright (c) 2023, Codevenience Organization. All rights reserved.<BR>
#
#  SPDX-License-Identifier: BSD-3-Clause
#
#  @par reference
#  - https://flake8.pycqa.org/en/latest/index.html
#
##

[flake8]
    exclude =
        .git,
        .github,
        .venv,
        __pycache__,
