##
#  @file
#  Configuration file for Python formatter - flake8.
#
#  @copyright
#  Copyright (c) 2023, Codevience. All rights reserved.<BR>
#
#  SPDX-License-Identifier: BSD-2-Clause-Patent
#
#  @par reference
#  - https://flake8.pycqa.org/en/latest/index.html
#
##

[flake8]
    exclude =
        .git,
        .github,
        .venv,
        __pycache__,
