##
#  @file
#  Configuration file for specifying project requirement and metadata.
#
#  @copyright
#  Copyright (c) 2023, Codevience. All rights reserved.<BR>
#
#  SPDX-License-Identifier: BSD-2-Clause-Patent
#
#  @par reference
#  - https://pip.pypa.io/
#
##

#
# yapf: https://github.com/google/yapf
#
[tool.yapfignore]
    ignore_patterns = [
        ".git/**",
        ".github/**",
        ".venv/**",
        ]

#
# pytest: https://docs.pytest.org/
#
[tool.pytest.ini_options]
testpaths = "tests"

#
# Configuration for pytest-cov
# Coverage.py: https://coverage.readthedocs.io/
#
[tool.coverage.run]
branch = true

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_also = [
    # Don't complain about missing debug-only code:
    "def __repr__",
    "if self\\.debug",

    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",

    # Don't complain if non-runnable code isn't run:
    "if 0:",
    "if __name__ == .__main__.:",

    # Don't complain about abstract methods, they aren't run:
    "@(abc\\.)?abstractmethod",
    ]
precision = 2
show_missing = true
ignore_errors = true
omit = [
    "*/.venv/*",
    "*/htmlcov/*",
    "*/tests/*",
    "pyproject.toml",
    ]
