##
#  @file
#  Configuration file for code quality - Codecov.
#
#  @copyright
#  Copyright (c) 2023, Codevience. All rights reserved.<BR>
#
#  SPDX-License-Identifier: BSD-2-Clause-Patent
#
#  @par reference
#  - https://docs.codecov.com/
#
##

name: 'Quality - Codecov'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  Codecov:
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.12']

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout the repository and commit
        uses: actions/checkout@v3
        with:
            submodules: 'recursive'
            fetch-depth: 0

      - name: Setup Python environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          python -m pip install pytest-cov

      - name: Generate coverage report (Comment)
        if: github.event_name == 'pull_request'
        run: |
          PYTHONPATH=$PYTHONPATH:$(pwd)
          export PYTHONPATH
          pytest --cache-clear --cov=./ > pytest-coverage.txt

      - name: Comment coverage
        if: github.event_name == 'pull_request'
        uses: coroo/pytest-coverage-commentator@v1.0.2

      - name: Generate coverage report (HTML)
        if: github.event_name == 'push'
        run: |
          PYTHONPATH=$PYTHONPATH:$(pwd)
          export PYTHONPATH
          pytest --cache-clear --cov=./ --cov-report=html

      - name: Upload coverage to Codecov
        if: github.event_name == 'push'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
